on pre-init

    sysclktz 0
    loglevel 7

# create system directories
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
	mkdir flag
# show bootmgr, arg is timeout
#    bootmgr 3

# Mount /system rw first to give the filesystem a chance to save a checkpoint  
    mount yaffs2 /dev/block/mtdblock5 /system multirom
    mount yaffs2 /dev/block/mtdblock5 /system ro remount multirom
    mount yaffs2 /dev/block/mtdblock6 /data nosuid nodev multirom
    mount yaffs2 /dev/block/mtdblock1 /cache nosuid nodev multirom

    remove_rc_mounts
    unlink /sbin/ueventd
    symlink /main_init /sbin/ueventd
