on pre-init

    sysclktz 0
    loglevel 7

# create system directories
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache

    mkdir /sdroot 0771 system system
    mkdir /sdroot/androot 0771 system system

# show bootmgr, arg is timeout
#    bootmgr 3

    mknod /dev/block/mmcblk0p99 179 3
    mknod /dev/block/mmcblk0p98 179 2

# Mount /system rw first to give the filesystem a chance to save a checkpoint  
    mount yaffs2 /dev/block/mtdblock5 /system multirom
#    mount yaffs2 /dev/block/mtdblock5 /system ro remount multirom
    mount yaffs2 /dev/block/mtdblock6 /data nosuid nodev multirom
    mount yaffs2 /dev/block/mtdblock1 /cache nosuid nodev multirom

    mount ext4 /dev/block/mmcblk0p99 /sdroot noatime multirom
    mount ext4 /dev/block/mmcblk0p98 /sdroot/androot noatime multirom

	mount ext4 /sdroot/bin /bin bind multirom
	mount ext4 /sdroot/etc /etc bind multirom
	mount ext4 /sdroot/home /home bind multirom
	mount ext4 /sdroot/lib /lib bind multirom
	mount ext4 /sdroot/media /media bind multirom
	mount ext4 /sdroot/opt /opt bind multirom
	mount ext4 /sdroot/package /package bind multirom
	mount ext4 /sdroot/root /root bind multirom
	mount ext4 /sdroot/run /run bind multirom
	mount ext4 /sdroot/sbin /sbin bind multirom
	mount ext4 /sdroot/selinux /selinux bind multirom
	mount ext4 /sdroot/srv /srv bind multirom
	mount ext4 /sdroot/tmp /tmp bind multirom
	mount ext4 /sdroot/usr /usr bind multirom
	mount ext4 /sdroot/var /var bind multirom

#    remove_rc_mounts
#    unlink /sbin/ueventd
#    symlink /android_init /sbin/ueventd
#    unlink /sbin/watchdogd
#    symlink /android_init /sbin/watchdogd
