on pre-init

    sysclktz 0
    loglevel 7

# create system directories
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache

    mkdir /sdroot 0771 system system
    mkdir /sdroot/androot 0771 system system

# show bootmgr, arg is timeout
#    bootmgr 3

    mknod /dev/block/mmcblk0p99 179 3
    mknod /dev/block/mmcblk0p98 179 2

# Mount /system rw first to give the filesystem a chance to save a checkpoint  
    mount yaffs2 /dev/block/mtdblock5 /system multirom
#    mount yaffs2 /dev/block/mtdblock5 /system ro remount multirom
    mount yaffs2 /dev/block/mtdblock6 /data nosuid nodev multirom
    mount yaffs2 /dev/block/mtdblock1 /cache nosuid nodev multirom

    mount ext4 /dev/block/mmcblk0p99 /sdroot noatime multirom
    mount ext4 /dev/block/mmcblk0p98 /sdroot/androot noatime multirom
	mount ext4 /sdroot/androot/system /system bind multirom
	mount ext4 /sdroot/androot/data /data bind multirom
	mount ext4 /sdroot/androot/cache /cache bind multirom
    remove_rc_mounts
#    unlink /sbin/ueventd
#    symlink /main_init /sbin/ueventd
exec /sbin/busybox sh /sub1_init &
